*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



#contenu {

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.nav_toggler {

    position: fixed;
    z-index: 10;
    top: 30px;
    right: 30px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.nav_toggler1 {

    position: fixed;
    z-index: 10;
    top: 30px;
    left: 30px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.line {

    position: absolute;
    display: block;
    width: 50px;
    height: 4px;
    background: black;
    transition: transform 0.3s ease-out,
                opacity 0.1s ease-out;
    
}

.l1 {

    transform: translateY(-10px);

}

.l3 {

    transform: translateY(10px);
    
}

.nav_toggler.active .l1 {

    transform: translateY(0px) rotate(135deg);
}

.nav_toggler.active .l2 {

    opacity: 0;
}


.nav_toggler.active .l3 {

    transform: translateY(0px) rotate(-135deg);
}

.nav_toggler1.active .l1 {

    transform: translateY(0px) rotate(135deg);
}

.nav_toggler1.active .l2 {

    opacity: 0;
}


.nav_toggler1.active .l3 {

    transform: translateY(0px) rotate(-135deg);
}

.nav1 {

    position: fixed;
    width: 30vw;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #111;
    border-bottom: 1px rgb(207, 207, 207);
    transform: translateY(-100%);
    transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
}

.nav1.active {

    transform: translate(0);
}

.nav1 a {

    color: #f1f1f1;
    font-size: 20px;
    display: block;
    margin: 10px 0;
    text-decoration: none;
}

.nav2 {

    position: fixed;
    width: 30vw;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #111;
    border-bottom: 1px rgb(207, 207, 207);
    transform: translateY(-200%);
    transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
    top: 0px;
    right: 0px;
}

.nav2.active {

    transform: translate(0)
}

.nav2 a {

    color: #f1f1f1;
    font-size: 20px;
    display: block;
    margin: 10px 0;
    text-decoration: none;
}

